<%= form_for @library do |f| %>
<p>Name:</p><%= f.text_field :name %>
<p>Floor Count</p><%= f.text_field :floor_count %>
<p>Floor Area</p><%= f.text_field :floor_area %>
<%= f.submit "Save library" %>
<% end %>